rect {
 cursor: pointer;
 stroke-width: 2;
}
rect.disabled {
 fill: transparent !important;
}

.line {
 fill: none;
 stroke: #4bb4ca;
 stroke-width: 2px;
}

.area {
 fill: #4bb4ca;
 opacity: 0.5;
}

.tooltip {
 background: #eee;
 box-shadow: 0 0 5px #999999;
 color: #333;
 display: none;
 font-size: 12px;
 left: 130px;
 padding: 10px;
 position: absolute;
 text-align: center;
 top: 95px;
 width: 80px;
 z-index: 10;
}

.progress-meter text {
 font-family: Lato, Helvetica, Arial, sans-serif;
 font-size: 24px;
 font-weight: bold;
}

.chartsWrapper{
  border-bottom: 2px solid var(--lightgray);
  margin: 40px 0;
  padding: 10px 0 40px;
}

.auslastung{
  padding: 10px 0 40px;
}

.pistenWrapper{
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .pistenWrapper{
    lost-column: 3/9;
    margin-bottom: 0;
  }

  .schneeWrapper{
    lost-column: 6/9;

    &.schnee{
      margin-top: 35px;
    }
  }

  .auslastungWrapper{
    lost-column: 1/3;
  }

}
