/*
@styleguide

@title Components
## Navigation
### Vertical Navigation

Use the nav class `nav--vertical` on `<ul>` elements for the mobile view.

<ul class="nav nav--vertical">
  <li><a href="#">Nav-Link 1</a></li>
  <li><a href="#">Nav-Link 2</a></li>
  <li><a href="#">Nav-Link 3</a></li>
  <li><a href="#">Nav-Link 4</a></li>
</ul>


    <ul class="nav nav--vertical">
        <li><a href="#">Nav-Link 1</a></li>
        <li><a href="#">Nav-Link 2</a></li>
        <li><a href="#">Nav-Link 3</a></li>
        <li><a href="#">Nav-Link 4</a></li>
    </ul>

### Horizontal Navigation

Use the nav class `nav--horizontal` on `<ul>` elements for desktop view.

<ul class="nav nav--horizontal">
  <li><a href="#">Nav-Link 1</a>
  <li><a href="#">Nav-Link 2</a>
  <li><a href="#">Nav-Link 3</a>
  <li><a href="#">Nav-Link 4</a>
</ul>

    <ul class="nav nav--horizontal">
        <li><a href="#">Nav-Link 1</a></li>
        <li><a href="#">Nav-Link 2</a></li>
        <li><a href="#">Nav-Link 3</a></li>
        <li><a href="#">Nav-Link 4</a></li>
    </ul>


## Form Elements

### Buttons
Use the button classes on `<a>`, `<button>`, `<input>` elements.
<button class="button button--large button--dark-blue">dark-blue Button</button>

    <button class="button button--large button--dark-blue">dark-blue Button</button>


<button class="button button--large button--sky-blue">sky-blue Button</button>

    <button class="button button--large button--sky-blue">sky-blue Button</button>

### Inputfield

Use the input-field class on `<input>` elements.

<form action="#">
    <input class="input-field" type="text" name="input1" placeholder="Your text here">
</form>

    <input class="input-field" type="text" name="input1" placeholder="Your text here">


## Links

Use the link class on `<a>` elements.

<a class="link" href="">That is a not yet visited link</a>

<a class="link visited" href="#">That is a visited link</a>


    <a class="link" href="">That is a not yet visited link</a>



## Media Blocks

### Comment Block

Use the comment-box class on `<div>` elements.
Use the profile class on `<div>` elements.
Use the picture class on `<img>` elements.
Combine the elements to get a commentbox.

<div class="commentbox">
    <div class="commentbox__profile">
        <img class="commentbox__picture" src="../assets/img/profile_picture.png">
        <a href="#">John Doe</a>
        <time datetime="2016-11-01">10. November 2016</time>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      Nulla consequat massa quis enim.
      Donec pede justo, fringilla vel, aliquet nec, vulputate
    <p>
</div>

    <div class="commentbox">
        <div class="commentbox__profile">
          <img class="commentbox__picture" src="../assets/img/profile_picture.png">
          <a href="#">John Doe</a><br>
          <time datetime="2016-11-01">10. November 2016</time>
        </div>
        <p>
          Comment
        <p>
    </div>
*/

/* Comment Box */
.commentbox{
    width: 500px;
    height: auto;
    background-color: #fff;
    padding: 25px 20px;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.commentbox p{
    margin-top: 1rem;
}

.commentbox__profile{
    border-bottom: 1px solid #eee;
    min-height: 50px;
}

.commentbox__profile:after{
  content: '';
  clear: both;
  display: block;
}

.commentbox__profile a{
  font-size: 1.5rem;
  line-height: 1em;
  text-decoration: none;
  display: block;
}

.commentbox__profile time{
  font-size: 0.8rem;
}

.commentbox__picture{
    width: 50px;
    height: 50px;
    float:left;
    margin: 0 10px 15px 0;
}

/*FORMS*/
.input-field
{
    background-color: var(--white);
    color: var(--sky-blue);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border: none;
    font-weight: 300;
    padding: 8px 10px;
}


/* NAV */
.nav{
    list-style: none;
    display: block;

    li a{ 
        background-color: var(--dark-blue);
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 5px 20px;
        cursor: pointer;
    }
}



.nav li a:hover{
    background-color:var(--sky-blue);
}

.nav li a:active{
    background-color:var(--sky-blue);
}

.nav--vertical li{
    margin-bottom: 1px;
}

.nav--vertical a{
    display: block;
}

.nav--horizontal li{
    display: inline-block;
    margin-right: 5px;
}

.nav--horizontal a{
    display: inline-block;
}

/*BUTTONS*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.button--large {
    width: 140px;
    height: 40px;
    font-size: 14px;
}

.button--dark-blue {
    color: #fff;
    background-color: var(--dark-blue);
}

.button--sky-blue {
    color: #fff;
    background-color: var(--sky-blue);
}

.link{
    text-decoration: none;
    color: var(--sky-blue);
}

.link:hover{
    cursor: hand;
    color: var(--dark-blue);
}

.visited{
    color: var(--dark-blue);
}

#suggestions {
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

.suggestion {
    padding: 2px;
    width: 350px;
}

.suggestion p:hover {
    text-decoration: underline;
}
.suggestion a {
    font-size: 14px;
}
.suggestion span {
    font-size: 12px;
    color: silver;
}