@lost gutter 60px;
:root {
    --layout-width: 1200px;
    --layout-padding: 40px;
}

.mapboxgl-popup .mapboxgl-popup-content {
  background: #ffffff;
}

header{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  top:0;

  &.header--shadow:before, &.header--shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.7);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
  }

  &.header--shadow:after{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
  }

  .header__content{
    background: #fff;
    border-top: 3px solid var(--dark-blue);
    width: inherit;
    height: 100%;
    /*lost-center: 100%;*/
    padding: 14px 0 0 0;
  }

  /*.header__left{
    lost-column: 2/16 0;
  }*/
  .header__center{
    width: 90%;
    margin: 0 auto;
    /*lost-column: 12/16 0;*/
  }
  /*.header__right{
    lost-column: 1/16 0;
  }*/
  .header__logo{
    background: url(/assets/img/logo_color.png) no-repeat;
    background-position: center;
    background-size: auto 100%;
    text-indent: -10000px;
    line-height: 1.2em;
  }
}

.content{
  margin-top: 70px;
  position:relative;

}

#dynamic-content{
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  position: relative;
}

.detailContent{
  padding: 60px var(--layout-padding) 70px;
  max-width: var(--layout-width);
  margin: 0 auto;



  /*lost-utility: clearfix;
  padding: 40px 40px;

  div {
    lost-column: 1/3;*/
}

.mapWrapper{
  position: relative;
}

#map{
  width: 100%;
  height: 400px;
}

.search{
  position: absolute;
  width: 100%;
  background: var(--dark-blue);
  top: -80px;
  padding: 20px 20px 0;
  color: var(--white);
  transition: 0.5s top ease-in;

  &.active{
    top:0;

    .search__suggestions{
      height: auto;
    }
  }

  .search__field{
    border: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .search__suggestions{
    list-style: none;
    max-height: 211px;
    overflow:hidden;
    overflow-y:scroll;
    margin: 0;
    display: block;
    height: 0;

    li{
      padding: 5px 0;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      vertical-align: middle;
      line-height: 1em;


      .suggestion__icon{
        width: 40px;
        display: inline-block;
        margin-right: 10px;
      }

      .suggestion__text{
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;

        .suggestion__name{
          display: inherit;
          font-size: 1.3rem;
          color: var(--sky-blue)
        }
        .suggestion__area{
          display: inherit;
          font-size: 0.8rem;
        }

        a{
          color: var(--white);
          text-decoration: none;

          &:hover{
            color: #bbb;
          }
        }
      }


    }

    &.hidden{
      display:none;
    }
  }
}

.mapButtons{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.mapButtons__item{
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top:8px;
  margin: 0 8px;
  font-size: 28px;
  border-radius: 25px;
  display: inline-block;
  background: var(--white);
  color: var(--dark-blue);
  box-shadow:0px 0px 3px rgba(0,0,0,0.3);
  cursor: pointer;

  &:hover{
    color: var(--dark-blue);
    background: var(--lightgray);
  }

  &.active{
    color: var(--dark-blue);
    background: var(--lightgray);
  }
}

.searchToggle{

  &.active{
    padding-top:10px;
  }
}

.locationToggle{
  padding-top:10px;
}


button.mapboxgl-popup-close-button{
  font-size: 25px;
  color: var(--mediumgray);

  &:hover{
    background-color: rgba(0,0,0,0);
    color: var(--sky-blue);
  }
}

.popup{
  padding: 2px;

  h1{
    font-size: 1rem;
    padding-right: 20px;
  }
}


footer {
  background: var(--dark-blue);
  color: var(--white);
  position: relative;

  .footer__content{
    lost-utility: clearfix;
    padding: 50px var(--layout-padding) 30px;

    >div {
      margin-bottom: 30px;
      lost-column: 3/3;
    }

    h2{
      border-bottom: 1px solid var(--sky-blue);
      margin-bottom: 20px;
    }

    a{

      &:hover{
        color: #bbb;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cols{
    lost-utility: clearfix;

  }

  header{

    .header__content{
      lost-center: 100%;
    }

    .header__center{
      lost-column: 12/16 0;
    }

    .header__left{
      lost-column: 3/16 0;
    }
    .header__center{
      lost-column: 10/16 0;
    }

    .header__right{
      lost-column: 3/16 0;
    }
  }

  .detailContent{

    .detailContent__main{
      lost-column: 66/100;
    }

    .detailContent__sidebar{
      lost-column: 34/100;
    }

  }

  .search{
    padding: 20px 40px 0;
  }

  footer {

    .footer__content{
      max-width: var(--layout-width);
      margin: 0 auto;

    >div {
      lost-column: 1/3;
    }
  }
  }
}
