.mapboxgl-popup .mapboxgl-popup-content {
  background: #ff0000;
}

header{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  top:0;

  &.header--shadow:before, &.header--shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.7);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
  }

  &.header--shadow:after{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
  }

  .header__content{
    background: #fff;
    width: inherit;
    height: 100%;
    lost-center: 100%;
    padding: 18px 0 0 0;
  }

  .header__left{
    lost-column: 3/16 0;
  }
  .header__center{
    lost-column: 10/16 0;
  }

  .header__right{
    lost-column: 3/16 0;
  }
  .header__logo{
    background: url(/assets/img/logo_color.png) no-repeat;
    background-position: center;
    background-size: 100% auto;
    text-indent: -10000px;

  }
}

.content{
  margin-top: 70px;

}

#map{
  width: 100%;
  height: 500px;
}

footer {
  lost-utility: clearfix;

  div {
    lost-column: 1/3;
  }
}
