/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

/* Webfont: Lato-Italic */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../assets/fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../assets/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../assets/fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../assets/fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../assets/fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;

}

body{
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}



/*
@styleguide

@title Typography

## Typeface
The brettlguide.at typeface is the sans serif font __*Lato*__ which was designed in sum­mer 2010 by Warsaw-​​based designer Łukasz Dziedzic (“Lato” means “Sum­mer” in Pol­ish). In Decem­ber 2010 the Lato fam­ily was pub­lished under the open-​​source Open Font License by his foundry tyPoland, with sup­port from Google.

For test purposes you can also use [Google Fonts](https://fonts.google.com/specimen/Lato) code to embed the font in your project
```css
<style>
@import url('https://fonts.googleapis.com/css?family=Lato');
</style>
```

Use the following CSS rules to specify Lato font in your CSS-file

```css
font-family: 'Lato', sans-serif;
```
Try to avoid embedding lato font through Google fonts and use locally hosted fonts located in
`./assets/fonts/` instead.

## Headings
<h1>an example heading</h1>
Heading 1
<h2>This is an example heading</h2>
Heading 2
<h3>This is an example heading</h3>
Heading 3
<h4>This is an example heading</h4>
Heading 4
<h5>This is an example heading</h5>
Heading 5
<h6>This is an example heading</h6>
Heading 6

*/



h1{
  font-size: 2.5rem;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-weight: bold;
  line-height:1.1em;
  font-style: italic;
}

h2{
  font-size: 2.25rem;
  color: var(--sky-blue);
  font-weight: bold;
  font-style: italic;
}

h3{
  font-size: 1.75rem;
  color: var(--gray);
}

h4{
  font-size: 1.5rem;
  color: var(--mediumgray);
}

h5{
  font-size: 1.25rem;
  color: var(--gray);
}

h6{
  font-size: .875rem;
  color: var(--gray);
  text-transform: uppercase;
  color: var(--sky-blue);
}

/*
@styleguide

@title Paragraphs. Lists. Blockquotes

## Paragraphs
A **_lead paragraph_** can be emphasized with the class `lead`.
<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
<p> In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>

## Unordered List
<ul>
  <li>a list item</li>
  <li>another list item</li>
  <li>and another one</li>
</ul>

## Ordered List
<ol>
  <li>a list item</li>
  <li>another list item</li>
  <li>and another one</li>
</ol>

## Plain List
Use class `list-plain` to get a list without _padding_, _margin_ and _list-style-type_
<ul class="list-plain">
  <li>a list item</li>
  <li>another list item</li>
  <li>and another one</li>
</ul>

## Blockquote
<figure class="blockquote">
  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
    </p>
  </blockquote>
  <figcaption>
    – Source of Quote
  </figcaption>
</figure>


## Table
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>State</th>
    <th>Country</th>
  </tr>
  <tr>
  <td>1</td>
  <td>Obertauern</td>
  <td>Salzburg</td>
  <td>Austria</td>
</tr>
<tr>
  <td>2</td>
  <td>Schladming</td>
  <td>Salzburg</td>
  <td>Austria</td>
</tr>
<tr>
  <td>3</td>
  <td>Saalbach Hinterglemm</td>
  <td>Salzburg</td>
  <td>Austria</td>
</tr>
</table>

*/

p {


}

.lead{
  font-size:1.2em;
}

ul, ol{
  margin: 2rem 0;
}

ul{
  list-style: square inside none;
}

ol {
  list-style: upper-roman inside none;
}

.list-plain{
  list-style: none inside none;
}

.blockquote {
  background-color: #f9f9f9;
  border-left: 7px solid #4bb4ca;
  margin: 2rem 0.5rem;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}

blockquote:before {
  color: #4bb4ca;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.blockquote figcaption{
  color: #999;
  margin-top: 0.2rem;
}

a{
  color: var(--sky-blue)
}

a:hover{
  color: var(--dark-blue)
}


table{
  text-align: left;
  margin: 2rem 0;
}

th, td{
  padding: 5px 10px;
}

td {

}

th{
  border-bottom: 2px solid #4bb4ca;
  color: #4bb4ca;
  background: #fff;
}

tr:nth-child(even){
  background: #fafafa;
}

tr:nth-child(odd){
  background: #f1f1f1;
}
