/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{
  font-family: 'Lato', sans-serif;
}



/*
@styleguide

@title Typography

## Typeface
Als Schriftart wurde die sans serif Schrift __*Lato*__ ausgewählt. designed in the Sum­mer 2010 by Warsaw-​​based designer Łukasz Dziedzic (“Lato” means “Sum­mer” in Pol­ish). In Decem­ber 2010 the Lato fam­ily was pub­lished under the open-​​source Open Font License by his foundry tyPoland, with sup­port from Google.

<h1>Header Level 1</h1>
<h2>Header Level 2</h2>
<h3>Header Level 3</h3>
<h4>Header Level 4</h4>
<h5>Header Level 4</h5>
<h6>Header Level 4</h6>

*/



h1{

}

h2{

}

h3{

}


/*
@styleguide

@title Paragraphs, Lists and Blockquotes

## Paragraph
<p>Lorem ipsum dolor</p>

## Unordered List
<ul>
<li>liste</li>
<li>liste</li>
</ul>

## Tabelle
<table>
<tr>
  <td>hello</td>
  <td>hello</td>
  <td>hello</td>
</tr>
<tr>
  <td>hello</td>
  <td>hello</td>
  <td>hello</td>
</tr>
<tr>
  <td>hello</td>
  <td>hello</td>
  <td>hello</td>
</tr>
</table>

*/

ul{
  list-style: circle;
}

table{

}

tr:nth-child(even){
  background: #ccc;
}

tr:nth-child(odd){
  background: #fff;
}
