<div class="detailContent">
  <div class="scrollTop"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
  <div class="cols">
    <div class="col detailContent__main">
      <h1>Impressum</h1>
      <p><strong>Multimedia Projekt I</strong><br>im Studiengangs MultiMedia Technology der <strong>Fachhochschule Salzburg</strong></p>
      <h3>Offenlegungspflicht gemäß § 25 Mediengesetz (MedienG)</h3>
      <p><strong>Medieninhaber und Autor</strong>
        <ul class="list-plain">
          <li>Anna Ronacher</li>
          <li>Neele Barthel</li>
          <li>Tobias Gann</li>
        </ul>
      </p>

      <p>
        hello@brettlguide.at<br>
        www.brettlguide.at
      </p>

      <h3>Datenschutzhinweis von Google Analytics</h3>
      <p>Diese Webseite benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“) Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert.</p>
      <p>Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.</p>
      <p>Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Webseite erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>

    </div>
    <div class="col detailContent__sidebar">
      <h3>Partner</h3>

    </div>
  </div>
</div>
