<div class="mapWrapper">
    <div id="map"></div>
    <div class="search">
        <input id="searchfield" class="search__field" placeholder="Suchbegriff eingeben" type="text">
        <ul id="suggestions" class="search__suggestions"></ul>
    </div>
</div>

