<h1>Slopes</h1>
<h2>{{ name }}</h2>
<div class="row">
    <div class="col-sm-4">
        <img src={{ image }}>
    </div>
</div>
<p>
    {{ description }}
    testxx
    <a href="lifts/3">testlink</a>
<p/>
