<div class="detailContent">
  <div class="scrollTop"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
  <h1>{{slope.properties.name}}</h1>
  <h2>{{area.properties.name}}</h2>
  <div class="auslastungWrapper">
    <div class="auslastung"></div>
  </div>
</div>
